.movieList_container{
    overflow-y: scroll;
}

.movieList_container .item{
    background-color:yellowgreen;
    height: 11rem;
    display: flex;
}
.movieList_container .left{
    height: 10rem;
    width: 9rem;
}

.movieList_container .right{
    height: 10rem;
}

.movieList_showBottom{
    display: block;
    height: auto;
    text-align: center;
}

.movieList_hideBottom{
    display: none;
}
